body {
  background-image: url(../images/stardust-img.png);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  padding: 0px 20px 0px 20px;
  background-color: #5f6769;
  line-height: 90px;
  margin-bottom: 0;
  color: #fff;
}

h2 {
  color: #777777;
}

h3 {
  padding-top: 2%;
  padding-bottom: 2%;
  color: #777777;
}

h6 {
  color: #777777;
}

a {
  text-decoration: none;
  color: #777777;
}

a:hover {
  text-decoration: none;
  color: #444249;
}

/* Portfolio Page */

.portfolio-container {
  padding: 0 0 2%;
  /* background-image: url(../images/stardust-img.png); */
}

/* Navbar */

.nav {
  background-color: #fff;
}

.nav-container {
  border-bottom: 3px solid;
  border-color: #777777;
  padding: 0% 19.5% 0%;
  background-color: #fff;
}

.navbar {
  padding-top: 0%;
  padding-bottom: 0;
}

.custom-nav {
  border-right: 1px solid #777777;
}

.custom-toggler {
  background-color: red;
  color: black;
  border-color: black;
}

.m-nav {
  padding: 0;
  text-align: center;
}

.m-nav-item {
  padding: 2% 2%;
}

.m-nav-link {
  padding: 8px 24px;
}

/* Projects */

#projects {
  padding: 25px 100px 25px;
}

.projects-container {
  text-align: center;
  padding: 3% 4% 3%;
  background-color: #fff;
  margin: 5% auto 3%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.projects-col {
  padding: 3% 2%;
}

.card {
  background-color: #dddddd;
}

.list-group-item {
  background-color: #dddddd;
}

/* About Page */

.about-me-container {
  padding: 3% 4% 3%;
  background-color: #fff;
  margin: 3% auto 3%;
}

.profile-pic {
  float: left;
  padding-right: 2%;
}

.about-me {
  text-align: left;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #777777;
}

.m-profile-pic {
  padding: 1%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.box {
  flex: 1 1 auto;
  height: 50px;

  display: flex;
  flex-flow: column;
  /* height: 100%; */
}

/* Contact Page */

.contact-container {
  text-align: center;
  padding: 3% 4% 4%;
  background-color: #fff;
  margin: 5% auto 3%;
}

/* Footer */

#footer {
  text-align: center;
  padding: 1% 0;
  background-color: #444249;
  border-top: 2px solid #777777;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.fillSpace {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
